<%- include ("../partials/header") %> <%- include ("../partials/categories-navbar") %>

<h1 class="container card text-center mt-lg-3"style="font-family:cursive;"><%= message %></h1>
<%- include ("../partials/footer") %>