<%- include ("../partials/header") %> <%- include ("../partials/categories-navbar") %>
<body>
    <div id="container">
      <!--sidebar start-->
      <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="mt">
            <a href="./my-profile">
              <i class="fa fa-user"></i>
              <span>Account & Information</span>
            </a>
          </li>
          <li class="mt">
            <a href="./my-addresses">
              <i class="fa fa-map-marker"></i>
              <span>My Addresses</span>
            </a>
          </li>
          <li class="mt">
            <a href="./my-orders">
              <i class="fa fa-book"></i>
              <span>My Orders</span>
            </a>
        </li>
          <li class="mt">
            <a class="active" href="#">
              <i class="fa fa-unlock-alt"></i>
              <span>Change Password</span>
            </a>
          </li>
          <li class="mt">
            <a href="./become-seller">
              <i class="fa fa-inr"></i>
              <span>Become Seller</span>
            </a>
          </li>
          <li class="mt">
            <a href="#">
              <i class="fa fa-power-off"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
      <!--main content start-->
      <div id="main-content" class="col-md-6">
  
        <h3><i class="fa fa-angle-right"></i> Change Password</h3>
        <% if(queryObject.password == "changed") { %>
          <div class="alert alert-success">Password Updated!</div>
        <% } %>
        <% if(queryObject.password == "oldWrong") { %>
          <div class="alert alert-danger">The current password you entered is not valid!</div>
        <% } %>
        <% if(queryObject.password == "matchError") { %>
          <div class="alert alert-danger">The new password fields do not match!</div>
        <% } %>
        <div
          class="card border-primary"
          style="margin-bottom: 10px; padding: 20px; border: 2px solid lightblue"
        >
          <form action="http://localhost:8081/change-password" method="POST">
            <div class="form-group">
              <label for="currentPasswordString">Current Password</label>
              <input
                type="password"
                class="form-control"
                id="currentPasswordString"
                name="currentPasswordString"
                required
              />
            </div>
            <div class="form-group">
              <label for="newPasswordString">New Password</label>
              <input
                type="password"
                class="form-control"
                id="newPasswordString"
                name="newPasswordString"
                required
              />
            </div>
            <div class="form-group">
              <label for="confirmNewPasswordString">Confirm new password</label>
              <input
                type="password"
                class="form-control"
                id="confirmNewPasswordString"
                name="confirmNewPasswordString"
                required
              />
              </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  