<%- include ("../partials/header") %> <%- include ("../partials/categories-navbar") %>
<div class="container">
    <div class="row">
        <div class="col-md-8 m-auto">
            <h1 class="mt-4 mb-4">Forgot Password</h1>
            <% if (queryObject.email == "notFound") { %>
                <div class="alert alert-danger" role="alert">Email-Id not found.</div>
              <% }%>
              <% if (queryObject.email == "changed") { %>
                <div class="alert alert-success" role="alert">Check you email for the new password.</div>
              <% }%>
            <form action="http://localhost:8081/forgot-password" method="POST">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" name="emailString" id="email" />
                </div>
                <button type="submit" class="btn btn-primary button-style">
                  Submit
                </button>
              </form>
        </div>
    </div>
</div>